/* common and shared codes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-style: none;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --secondary-gradient: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.btn {
  padding: 21px 40px;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  /* margin-top: 40px; */
}

.section-desc {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}

.caption {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.caption-bold {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}

.footer-text-bold {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.gradient-text-secondary {
  background: var(--secondary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-sub {
  background: var(--primary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* nav related styles start here */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 240px;
  max-width: 1920px;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.logo img {
  width: 86px;
  height: 40px;
}

.menu > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu a {
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
}

.follow-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  width: 260px;
  height: 56px;
  /* padding: 20px 24px; */
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.follow-btn .follow-btn-youtube,
.follow-btn-tiktok {
  background-color: transparent;
}

/* nav related styles ends here */

/* main banner section related style starts here */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner-heading-text {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.gradient-text-main {
  background: var(--primary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-weight: 800;
  margin-bottom: 25px;
}

.list {
  display: flex;
  align-items: center;
}
.list-items li {
  margin-bottom: 15px;
}
.fa-icon i {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

.btn-container {
  margin-top: 40px;
}

.btn-sign {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.btn-go {
  background: #4ec5f7;
}

/* main banner section related style ends here */

/* gamer section related style starts here */

.gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 55px 240px;
  margin: 0 auto;
}

.gamer-container-image img {
  width: 868px;
  height: 489px;
}

.gamer-container-text {
  text-align: end;
}
.gamer-container-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}
.gamer-container-desc {
  width: 520px;
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
}
.gamer-container-desc-second {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}
.btn-know-more {
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-top: 30px;
  margin-bottom: 25px;
}

.quoted-text {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}
/* gamer section related style starts here */

/* online game section related style starts here*/

.online-game {
  padding: 0 240px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.online-game-heading {
  text-align: center;
}

.online-game-heading .section-title {
  margin-bottom: 15px;
}

.online-game-cards {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}

.card {
  width: 342px;
  height: 400px;
}

.card-overlay-content {
  width: 342px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  transition: 0.3s ease;
  opacity: 0;
}

.card-overlay-caption {
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-overlay-icon {
  color: #fff;
  margin-bottom: 16px;
}

#card-overlay-container {
  position: relative;
}

#card-overlay-container:hover {
  .card-overlay-content {
    opacity: 1;
  }
}

/* online game section related style ends here*/

/* play online section related styles starts here */

/* no-1 */

.play-section-1 {
  max-width: 1920px;
  padding: 0 240px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.play-container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-content-1 {
  width: 353px;
  text-align: right;
  position: relative;
  right: -120px;
}

.play-image-1 {
  position: relative;
}

.relative-1 {
  position: absolute;
  left: -145px;
  bottom: -75px;
}

/* no-2 */

.container-play-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 0 240px;
  height: auto;
  text-align: center;
}

.container-play-content-image-bottom {
  width: 710px;
  height: 650px;
}

.container-play-content-text-title {
  font-size: 48px;
  font-weight: 700;
  width: 426px;
  text-align: left;
}

.container-play-content-text-title-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-play-content-text-desc {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  width: 483px;
  text-align: left;
}

.container-play-content-image{
  position: relative;
}

.container-play-content-image-top{
  position: absolute;
  left: 600px;
  top: 360px;
}

.container-play-content-text{
  position: absolute;
  right: 120px;
}

/* play online section related styles ends here */

/* career section starts here */

.career-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1920px;
  height: 821px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-top: 120px;
  padding-left: 240px;
}

.career-content-text-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.career-content-title {
  color: #fff;
}

.career-content-desc {
  color: #fff;
  width: 680px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.career-btn {
  padding: 21px 40px;
  border-radius: 48px;
  margin-top: 40px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.career-btn-text {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.career-content-text-list-left ul {
  color: #fff;
}
.career-content-text-list-right ul {
  color: #fff;
}

.career-content-text-list-right {
  text-align: end;
}

/* career section ends here */

/* button section starts here */

.button-container {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 0 240px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 16px;
  transition: 0.5s ease;
}

.button:hover {
  transform: scale(1.2);
  border: 1.5px solid #ff42a5;
  border-radius: 50px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* button section ends here */

/* footer section stars here */

.footer-section {
  background-color: #0b0223;
  padding: 120px 0;
}

.footer-logo {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 66px;
  color: #fff;
}

.footer-menu > ul {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  display: flex;
  gap: 40px;
  justify-content: center;
  color: white;
  margin-top: 66px;
}

.footer-terms {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 75px;
}

.footer-copy-right p {
  text-align: center;
}

.footer-copy-right {
  margin-top: 30px;
}

/* footer section ends here */

/* responsive styles starts here */

/* for mobile */

@media screen and (max-width: 576px) {
  /* nav bar */

  .nav-bar {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 75px;
    height: auto;
    padding: 0 120px;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 60px;
  }

  .follow-btn {
    margin-top: 60px;
  }

  /* main banner */

  .banner-container {
    flex-direction: column-reverse;
    padding: 0 120px;
    width: 400px;
  }

  .banner-content {
    margin-top: 25px;
  }

  /* online game */
  .online-game-cards {
    flex-direction: column;
  }

  .card {
    margin-bottom: 80px;
  }

  /* play section */

  .play-container {
    flex-direction: column;
    height: auto;
    padding: 0 120px;
  }

  /* buttons */

  .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* for tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
}
