/* common and shared codes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border-style: none;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --secondary-gradient: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.btn {
  padding: 21px 40px;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  /* margin-top: 40px; */
}

.section-desc {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}

.caption {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.gradient-text-secondary {
  background: var(--secondary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-sub {
  background: var(--primary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* nav related styles start here */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 240px;
  max-width: 1920px;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.logo img {
  width: 86px;
  height: 40px;
}

.menu > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu a {
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
}

.follow-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  width: 260px;
  height: 56px;
  /* padding: 20px 24px; */
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.follow-btn .follow-btn-youtube,
.follow-btn-tiktok {
  background-color: transparent;
}

/* nav related styles ends here */

/* main banner section related style starts here */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner-heading-text {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.gradient-text-main {
  background: var(--primary-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-weight: 800;
  margin-bottom: 25px;
}

.list {
  display: flex;
  align-items: center;
}
.list-items li {
  margin-bottom: 15px;
}
.fa-icon i {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
}

.btn-container {
  margin-top: 40px;
}

.btn-sign {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.btn-go {
  background: #4ec5f7;
}

/* main banner section related style ends here */

/* online game section related style starts here*/

.online-game{
  padding: 0 240px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.online-game-heading {
  text-align: center;
}

.online-game-heading .section-title{
  margin-bottom: 15px;
}

.online-game-cards {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}

.card{
  width: 342px;
  height: 400px;
}



/* online game section related style starts here*/

/* responsive styles starts here */

/* for mobile */

@media screen and (max-width: 576px) {
  .nav-bar {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 75px;
    height: auto;
    padding: 0 120px;
  }

  .menu ul {
    flex-direction: column;
    margin-top: 60px;
  }

  .follow-btn {
    margin-top: 60px;
  }

  .banner-container {
    flex-direction: column-reverse;
    padding: 0 120px;
  }
  .banner-image {
    width: 50%;
  }
}

/* for tablet */

@media screen and (min-width: 576px) and (max-width: 992px) {
}
